body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    min-height: 600px;
    min-width: 600px;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
    border: 1px gray solid;
    user-select: none;
}

.grid-element  {
    user-select: none;
}

.btn-container {
    border: black solid 2px;
    display: flex;
    flex-direction: column;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type="color"]::-webkit-color-swatch {
    border: none;border-radius:50%;
}

#picker {
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

button {
    background-color: gray;
    border: black 2px solid;
}